.closerBt{
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    border-radius: 6vh;
    height: 4vh;
    width: 4vh;
    float: right;
    margin-right: 1vh;
}



/*Responsive system */
@media screen and (max-width: 600px){
    .bar-static{
        height: 10vh;
    }
    .bar-static ul li{
        margin-top: -1vh;        
    }
}
    .terminal-app{
        margin-left: 4vh;
        height: 40vh;
        width: 80vh;
}